version: "3.9"

services:
  tubewranglerr:
    build: .
    container_name: tubewranglerr
    restart: unless-stopped
    ports:
      - "8888:8888"
    env_file:
      - .env
    volumes:
      - ./data:/data
      - ./.env:/app/.env:ro
    environment:
      - NODE_ENV=production
      - TZ=America/Sao_Paulo
